#Log-show{
    position: fixed;

    bottom: 15px;
    right: 10px;

    background-color: #5382e6;
    color: #f1f1f1;
    box-shadow: 0 0 3px black;

    font-weight: bold;
    font-size: 10px;

    border: none;
    border-radius: 30px;

    display: flex;
    align-items: center;
    
    padding: 5px 10px;

    cursor: pointer;

    transition: background-color 10px;
}

#Log-show > img{
    width: 20px;
    margin-right: 5px;
}

#Log-show:hover{
    background-color: #345499;
}