<%- include('head.ejs') %>

<%- include('sidebar.ejs') %>

<link rel="stylesheet" href="css/main/index.css">
<link rel="stylesheet" href="css/main/head.css">

<main>
    <header class="head-main">
        <h2>갤러리</h2>
    </header>
    <!-- 컨텐츠 -->
    hi
</main>

<%- include('tail.ejs') %>