<%- include('head.ejs') %>
<link rel="stylesheet" href="css/login.css">

<img id="logo" src="https://velog.velcdn.com/images/kt_gml/post/8d7f9942-9b12-4e51-b891-5aba1736dc50/image.png" alt="">
<h2 id="title">안녕하세요! Welcome Back!</h2>

<div class="input-label">Id</div>
<input type="text">

<div class="input-label">Password</div>
<input type="password">

<div class="error-text">잘못된 비밀번호</div>
<button id="login-button">Login</button>

<%- include('tail.ejs') %>