<link rel="stylesheet" href="css/sidebar.css">

<div class="sidebar-main">
    <img class="sidebar-logo" src="https://velog.velcdn.com/images/kt_gml/post/8d7f9942-9b12-4e51-b891-5aba1736dc50/image.png" alt="">

    <section class="sidebar-menu">
        <a href="">
            <button>
                <img src="/img/dashboard.svg" alt="">
                Dashboard
            </button>
        </a>

        <a href="">
            <button class="active">
                <img src="/img/dashboard.svg" alt="">
                Dashboard
            </button>
        </a>

    </section>

    <section class="footer-menu">
        <span>ss111mmm</span>
        <a href="/logout">
            <img src="/img/logout.svg" alt="">
        </a>
    </section>
</div>